- if defined? title
  title btsgroup - #{title}
- else
  title Be Cool!
meta charset='utf-8'
meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=2'
link href='/css/styles.css' rel='stylesheet'

