!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title= options.title
    %link{:href => "/css/styles.css", :rel => "stylesheet"}
  %body
    %section#content
      %header
        %a{:href => "/", :title => "btsgroup"}
          %img{:src => "/img/header.gif", :alt => "btsgroup"}
      %div#content
        = yield
      %footer
        %a{ :href => "http://github.com/dabio/btsgroup",
            :title => "source is here"} get the source
      %section#user
        %ul
          %li
            %a#settings_button{:title => 'Einstellungen'} Einstellungen
          %li
            %a{:href => '/logout', :title => 'Abmelden'} Abmelden
      %section#settings
        %form{:action => '/settings', :method => 'post'}
          %fieldset
            %label{:for => 'email'} E-Mail
            %input{:name => 'email', :type => 'email', :value => current_person.email}
            %label{:for => 'password'} Passwort
            %input{:name => 'password', :type => 'password'}
            %label{:for => 'confirm_password'} Wiederholung
            %input{:name => 'confirm_password', :type => 'password'}
            %button{:type => "submit"} Speichern
    %script{:src => "/js/btsgroup.js"}
