!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:name => "viewport", :content => "initial-scale=0.6, maximum-scale=2"}

    %title Be Cool!
    %link{:href => "/css/styles.css?#{coat 'css/styles.sass'}", :rel => "stylesheet"}
  %body
    #content
      #header
        %h1
          %a{:href => "/", :title => "btsgroup"} BTS group
        #nav
          %ul
            %li
              %a#settings_button{:title => 'Einstellungen'} Einstellungen
            %li
              %a{:href => '/logout', :title => 'Abmelden'} Abmelden
      #main
        /=styled_flash
        %ul#messages
          - @messages.each do |message|
            %li
              .time
              .aside
              .message[message]
                = message.text
      #footer
        %a{:href => "https://github.com/dabio/btsgroup",
          :title => "source is here"} source

    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
    %script
      var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-67221-5"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}();
      \/iPhone/i.test(navigator.userAgent)&&!pageYOffset&&!location.hash&&setTimeout(function(){window.scrollTo(0,1)},100),$("#settings_button").live("click",function(){$("#settings").animate({opacity:"toggle"},100)}),setTimeout(function(){$("#flash").fadeTo(!1,0).slideUp()},3e3)

