$body_background-color: #21272b
$body_color: #ececec
$a_color: #a58c62
$font-size: 14px
$font-size_small: 11px

@import "reset.css"

//body
  -webkit-text-stroke: 1px transparent

a
  color: $a_color
  text-decoration: none

a:hover
  text-decoration: underline

body
  background-color: $body_background-color
  color: $body_color
  font: 14px/25px "Trebuchet MS", Verdana, Arial, sans-serif
  position: relative
  padding-top: 100px

button
  background: url(/img/button_bg.gif) 0 0 repeat-x
  border: 1px solid #1d1d1f
  color: #ececec
  cursor: pointer
  display: block
  font-size: $font-size_small
  height: 25px
  margin-top: 3px
  text-shadow: #000 1px 1px 1px
  width: 80px
button:hover
  background-position: 0 -23px

h2
  color: #778796
  font-size: 18px
  text-shadow: #000 1px 1px 1px

html
  background-color: $body_background-color

input, textarea
  border: 1px solid #bbbbbb
  border-top: 1px solid #aeaeae

input
  line-height: 18px
  width: 180px

p
  margin-bottom: 25px

textarea
  height: 75px
  line-height: 25px
  width: 378px


#content
  margin: 0 auto
  position: relative
  width: 860px

header
  //background: #fee
  height: 100px
  position: absolute
  top: -100px
  width: 860px
  h1
    a
      background: url(/img/header.gif) 31px 47px no-repeat
      display: block
      height: 100px
      text-indent: -999px
      width: 296px
    a:hover, a:focus
      outline: none
  nav
    ul
      font-size: $font-size_small
      left: 560px
      position: absolute
      text-shadow: #000 1px 1px 1px
      top: 0
      width: 300px
    li
      display: inline
    a
      color: #778796
      margin-right: 10px
    #settings_button
      background: url(/img/arrow_down.gif) no-repeat 100% 4px
      cursor: pointer
      padding-right: 11px

#main
  position: relative

footer
  clear: both
  font-size: 10px
  padding: 25px 80px
  //text-shadow: #000 1px 1px 1px

#messages
  overflow: auto
  width: 540px
  li
    margin-bottom: 25px
    overflow: auto
    time
      color: #778796
      display: block
      font-size: 10px
      line-height: 14px
      margin: 0 80px
      padding-top: 11px
      text-shadow: #000 1px 1px 1px
    .message
      margin-left: 80px
      margin-right: 80px
    aside
      float: left
      margin-left: 20px
      overflow: auto
      img
        border: 1px solid #ececec
        display: block
        float: left
    aside.right
      float: right
      margin-left: 0
      margin-right: 20px
  li.first
    margin-bottom: 0
    aside.right
      margin-top: 25px

#message
  padding-bottom: 12px
  margin: 25px 80px 0 80px
  button
    margin-left: 301px

#visits
  position: absolute
  left: 560px
  top: 0

#pagination
  clear: both
  color: #363f47
  font-size: 10px
  padding: 0 80px
  a
    color: #778796
  em
    color: #778796

#user
  font-size: 10px
  left: 560px
  position: absolute
  text-shadow: #000 1px 1px 1px
  top: 0

#settings label, #login label
  display: block
  float: left
  margin-right: 5px
  text-align: right

#settings
  background: #363f47
  display: none
  left: 540px
  padding: 25px 0 12px 10px
  position: absolute
  top: 25px
  width: 350px
  z-index: 100
  button
    margin-left: 94px
  label
    width: 90px
  h2
    font-size: 11px

#login
  margin: 50px auto
  width: 270px
  button
    margin-left: 79px
  label
    width: 75px


