$body_background-color: #21272b
$body_color: #ececec
$a_color: #a58c62

@import "reset.css"

a
  color: $a_color
  text-decoration: none

a:hover
  text-decoration: underline

body
  background-color: $body_background-color
  color: $body_color
  font: 14px/25px "Trebuchet MS", Verdana, Arial, sans-serif

#content
  margin: 0 auto
  width: 860px

header
  //background: url(/img/header.gif) 32px 47px no-repeat
  height: 100px
  a
    display: block
    float: left
    height: 42px
    margin-top: 47px
    margin-left: 32px
    width: 265

#messages
  width: 540px
  li
    margin-bottom: 25px
    time
      color: #778796
      display: block
      font-size: 10px
      line-height: 10px
      margin: 0 80px
      padding-top: 15px
      text-shadow: #000 1px 1px 1px
    .message
      margin-left: 80px
      margin-right: 80px
    img.user_image
      border: 1px solid #ececec
  li.first
    margin-bottom: 0

#message
  padding-bottom: 12px
  textarea
    border: 1px solid #bbbbbb
    border-top: 1px solid #aeaeae
    height: 73px
    margin: 25px 80px 0 80px
    width: 378px
  button
    background: url(/img/button_bg.gif) repeat-x
    border: 1px solid #1d1d1f
    color: #ececec
    display: block
    font-size: 11px
    height: 25px
    margin-left: 381px
    margin-top: 5px
    text-shadow: #000 1px 1px 1px
    width: 80px
