$body_background_color: #0a0a0d
$body_color: #ccc
$a_color: #57c
$center_width: 465px
$right_width: 320px

body
  background-color: $body_background_color
  color: $body_color
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif
  margin: 0 0 0 50px
  padding: 0

p, ol, ul
  line-height: 1.67em

a
  color: $a_color
  text-decoration: none

button, input, textarea
  border-radius: 3px 3px
  font-size: 14px
  outline: 0 none

fieldset
  border: none
  margin: 0
  padding: 0

button
  background: #3d4b58
  border-top: 1px solid #687986
  border-right: 1px solid #475767
  border-bottom: 1px solid #3e4d5c
  border-left: 1px solid #445362
  color: #c8d1d9
  float: right
  margin: 0
  padding: 3px 28px

form#message
  label
    display: none
  textarea
    background: #333
    border: 1px solid #444
    color: #fff
    height: 100px
    width: $center_width
  textarea:hover, textarea:focus
    background: #444
    border: 1px solid #666

#wrapper
  margin: 0 auto
  width: 785px

  #center
    width: $center_width
    min-height: 600px
    margin: 40px $right_width 0 0

  #right-wrapper
    width: $right_width

  #visits
    margin-left: $center_width
    overflow: none
    position: fixed
    top: 40px
    width: 240px

* html #visits
  position: absolute